footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
}
.Header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 50px;
}
.first-color {
  background: #283739;
}

.second-color {
  background: #2c5d63;
}

.third-color {
  background: #a2c11c;
}

.fourth-color {
  background: #e0e0e0;
}
