h3 {
  font-size: 35px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.meaning {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.363);
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
}
.example {
  display: block;
  font-size: 14px;
  color: #e0e0e083;
}
.definition {
  font-size: 18px;
}
.first-color {
  background: #283739;
}

.second-color {
  background: #2c5d63;
}

.third-color {
  background: #a2c11c;
}

.fourth-color {
  background: #e0e0e0;
}
