form {
  text-align: center;
}
input {
  margin: 10px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #283739;
  width: 50%;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.363);
}
.first-color {
  background: #283739;
}

.second-color {
  background: #2c5d63;
}

.third-color {
  background: #a2c11c;
}

.fourth-color {
  background: #e0e0e0;
}
