.Synonyms li {
  color: #a2c11c;
  list-style-type: none;
  display: inline-block;
  padding: 15px;
}
ul.Synonyms {
  margin-top: 10px;
  padding-inline-start: 0px;
}
.first-color {
  background: #283739;
}

.second-color {
  background: #2c5d63;
}

.third-color {
  background: #a2c11c;
}

.fourth-color {
  background: #e0e0e0;
}
